@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  background: #0B0C10;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #0B0C10;
}
::-webkit-scrollbar-thumb {
  background: #A855F7;
  border-radius: 2px;
}

::selection {
  background: rgba(168, 85, 247, 0.3);
  color: #fff;
}

input::placeholder {
  color: #4a5568;
}